<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dimpled Orb</title>

	<link href="/dependencies/bootstrap/dist/css/bootstrap.css"	rel="stylesheet">
	
	<script src="/dependencies/jquery/dist/jquery.min.js"></script>
	<script src="/dependencies/bootstrap/dist/js/bootstrap.js"></script>
	
	
	<script>
		$(function()
		{
	
		});
	</script>

</head>
<body>
	<div class="container">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>WHITE TEES</td>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>Out</td>
				</tr>
				<tr>
					<td>70.8/134</td>
					<td>369</td>
					<td>470</td>
					<td>145</td>
					<td>394</td>
					<td>388</td>
					<td>463</td>
					<td>165</td>
					<td>313</td>
					<td>355</td>
					<td>3002</td>
				</tr>
				<tr>
					<td scope="row" rowspan="3" >Frank Stallone</td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td><input class="form-control border-0" type="text" maxlength="2"/></td>
					<td></td>
				</tr>
				<tr>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>FIR GIR</td>
					<td>/</td>
				</tr>
				<tr>
					<td>Putts__</td>
					<td>Putts__</td>
					<td>Putts__</td>
					<td>Putts__</td>
					<td>Putts__</td>
					<td>Putts__</td>
					<td>Putts__</td>
					<td>Putts__</td>
					<td>Putts__</td>
					<td></td>
				</tr>
				<tr>
					<td><p class="text-sm">Shotgun Mulligans:</p></td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td>Sandy</td>
					<td></td>
				</tr>
				<tr>
					<td>PAR</td>
					<td>4</td>
					<td>5</td>
					<td>3</td>
					<td>4</td>
					<td>4</td>
					<td>5</td>
					<td>3</td>
					<td>4</td>
					<td>4</td>
					<td>36</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>